body {
    font-family:  Arial, sans-serif;
    /* height: 100% */
  }
img {
    width: 100%;
  }
  
  header {
    /* background-color: #54c4c1; */
    /* padding: 1em; */
    /* height:100%; */
    background-image: url('slg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* height: vh; */
    /* overflow: hidden; */
  }

  nav{ 
     position: relative; 
     /* top:200px;  */
  }
  
  header h1 {
    margin: 0;
    color: #fefbfc;
    padding: 100px 0;
    text-align:center;
    font-family: 'Courier New';
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  figcaption {
    
    color: black;
    font-style: italic;
    padding: 2px;
    font-size:0.75em;
    text-align: center;
  }

  nav a {
    text-decoration: none;
    color: #000000;
    /* padding: 0.5em; */
  }
  
  main {
    padding: 5em;
  }
  
  
  footer {
    background-color: #cccccc;
    padding: 10px;
    text-align: center;
    margin-top:7px
  }
  
@media screen and (max-width: 800px) {
    header h1 {
      font-size: 1.5em;
      color : #54c4c1; 
    }

    #articles,#main{
      width: 100%;
    }
    
    .center{
      max-width:100%;
    }
    /* nav a {
      padding: 1em;
    } */
  }
  /* The above example uses a media query to change the font size of the header, change the display of the navigation links to block, and increase the padding of the navigation links when the screen width is less than 768px. This is just an example of what you can do with media queries, you can do a lot more to change the layout, font size, images size and other element of your website based on the screen size. Also it is good practice to test it on different devices and browsers. */
  
  
  
  
  